@tailwind base;
@tailwind components;
@tailwind utilities;

.cart, .favs{
    position: absolute;
    left: 0;
    right: 0;
    background-color: aqua;
}

.fav-btn{
    background-color: gray;
}

.fav-btn-active{
    background-color: gold;
}

.product-card{
    width: 280px;
    height: 280px;
}

.products-slider{
    width: 75%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
    width: 100%;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.171);
}

.modal.isOpen{
    display: flex;
}

.react-multi-carousel-track{
    padding: 20px 0px;
}